%html
  %head
    %script{:src => "http://code.jquery.com/jquery.min.js"}    
    -# This fork of impress.js allows loading to be deferred..
    %script{:src => "https://raw.github.com/zeke/impress.js/master/js/impress.js"}
    %script{:src => "app.js"}
    
    %link{:href => "style.css", :rel => "stylesheet", :type => "text/css"}
  %body

    #impress

      #wordnik.step{'data-scale' => 12, 'data-x' => -1000, 'data-y' => 0, 'data-z' => 0, 'data-rotate-x' => 0, 'data-rotate-y' => 0, 'data-rotate-z' => 0}
        %img{:src => "images/wordnik.png"}
        %div
          %h2 Wordnik.
          %p a manifesto
        
      #team.step{'data-scale' => 3, 'data-x' => 2000}
        %h1 1. Team
        
      #erin.step.team{'data-x' => 1000, 'data-y' => 500, 'data-z' => 100, 'data-rotate-x' => 0, 'data-rotate-y' => -40, 'data-rotate-z' => -10}
        %img{:src => "images/erin.jpg"}
        %div
          %h2 Erin McKean
          %p Business

      #kumanan.step.team{'data-x' => 1200, 'data-y' => 1000, 'data-z' => -300, 'data-rotate-x' => 0, 'data-rotate-y' => -140, 'data-rotate-z' => 20}
        %img{:src => "images/kumanan.jpg"}
        %div
          %h2 Kumanan Rajamanikkam 
          %p Backend
          
      #zeke.step.team{'data-x' => 1200, 'data-y' => 1800, 'data-z' => 300, 'data-rotate-x' => -30, 'data-rotate-y' => -80, 'data-rotate-z' => 0}
        %img{:src => "images/zeke.jpg"}
        %div
          %h2 Zeke Sikelianos
          %p Frontend
          
      #tools.step{'data-scale' => 3, 'data-x' => 3500}
        %h1 2. Tools

      #heroku.step.tools{'data-x' => 2900, 'data-y' => 500, 'data-z' => 400, 'data-rotate-x' => 0, 'data-rotate-y' => 40, 'data-rotate-z' => 0}
        %img{:src => "images/heroku.png"}
        %div
          %h2 Heroku
          %p
            Continuous deployment platform and developer marketplace.

      #mongo.step.tools{'data-x' => 3000, 'data-y' => 800, 'data-z' => -400, 'data-rotate-x' => 0, 'data-rotate-y' => 50, 'data-rotate-z' => 0}
        %img{:src => "images/mongo.png"}
        %div
          %h2 MongoDB
          %p Big data storage with Javascript under the hood.

      #node.step.tools{'data-x' => 2600, 'data-y' => 1200, 'data-z' => 0, 'data-rotate-x' => 0, 'data-rotate-y' => -30, 'data-rotate-z' => 10}
        %img{:src => "images/chrome.jpg"}
        %div
          %h2 Node.js
          %p
            Shared client/server application logic, with
            non-blocking, asynchronous design for high throughput.

      #derby.step.tools{'data-x' => 3000, 'data-y' => 1600, 'data-z' => 400, 'data-rotate-x' => 0, 'data-rotate-y' => 0, 'data-rotate-z' => 0}
        %img{:src => "images/derby.jpg"}
        %div
          %h2 Derby.js
          %p
            Realtime, collaborative applications that run in both Node.js and browsers.
          
      #html5.step.tools{'data-x' => 2700, 'data-y' => 2000, 'data-z' => -200, 'data-rotate-x' => 0, 'data-rotate-y' => -70, 'data-rotate-z' => 0}
        %img{:src => "images/html5.png"}
        %div
          %h2 HTML 5
          %p Connectivity, storage, performance, graphics, audio, video, and so much more.

      #phonegap.step.tools{'data-x' => 2500, 'data-y' => 2500, 'data-z' => 300, 'data-rotate-x' => 10, 'data-rotate-y' => -40, 'data-rotate-z' => 0}
        %img{:src => "images/phonegap.png"}
        %div
          %h2 Phonegap
          %p A platform for deploying HTML5 apps to multiple app stores.

      #github.step.tools{'data-x' => 2500, 'data-y' => 3300, 'data-z' => 300, 'data-rotate-x' => 50, 'data-rotate-y' => 0, 'data-rotate-z' => 0}
        %img{:src => "images/github.png"}
        %div
          %h2 Github
          %p
            Source code hosting, wiki documentation, and issue tracking
            in a single package, all powered by git.

      #products.step{'data-scale' => 3, 'data-x' => 5000}
        %h1 3. Products

      #apis.step.products{'data-x' => 4800, 'data-y' => 500, 'data-z' => 500, 'data-rotate-x' => 0, 'data-rotate-y' => 40, 'data-rotate-z' => 0}
        %img{:src => "images/apis.png"}
        %div
          %h2 Developer APIs
          %p
            A structured collection of data about all the things in our world and the relationships between them,
            distributed via Node.js over swaggering APIs, with a scaling price structure.

      #apps.step.products{'data-x' => 4200, 'data-y' => 1000, 'data-z' => -300, 'data-rotate-x' => 0, 'data-rotate-y' => 40, 'data-rotate-z' => 10}
        %img{:src => "images/apps.jpg"}
        %div
          %h2 Mobile Apps
          %p
            To help prove and improve our own APIs, we build apps. Some cost money. Some are free.
            All of them give us valuable data about user behavior, and they feed the word graph.
            
      #sponsorship.step.products{'data-x' => 4200, 'data-y' => 1500, 'data-z' => 0, 'data-rotate-x' => 30, 'data-rotate-y' => 0, 'data-rotate-z' => 0}
        %img{:src => "images/auction_paddle.jpg"}
        %div
          %h2 Own-a-Word
          %p
            In the spirit of community, wordnik.com users will be given a socially incentivized
            option to provide financial support by sponsoring words of their choice, with highest-bidder 
            game logic to promote healthy competition for word "ownership".

      #principles.step{'data-scale' => 3, 'data-x' => 6600}
        %h1 4. Principles

      #dependencies.step.principles{'data-x' => 6100, 'data-y' => 500, 'data-z' => 500, 'data-rotate-x' => 0, 'data-rotate-y' => -30, 'data-rotate-z' => 0}
        -# %img{:src => "images/oss.png"}
        %div
          %h2 Transparency
          %p
            Open source software promotes trust from users
            and crowdsources the development effort to a willing constituency.

      #community.step.principles{'data-x' => 6000, 'data-y' => 1000, 'data-z' => 0, 'data-rotate-x' => 30, 'data-rotate-y' => 40, 'data-rotate-z' => 0}
        -# %img{:src => "images/swagger.png"}
        %div
          %h2 Community
          %p
            Giving end-users more control encourages their level of participation.
            Continued development of Swagger and other open-source projects
            earns us respect in the developer community.

      #agility.step.principles{'data-x' => 6000, 'data-y' => 1500, 'data-z' => -300, 'data-rotate-x' => 20, 'data-rotate-y' => 10, 'data-rotate-z' => -10}
        %div
          %h2 Agility
          %p
            We are a small, passionate team, free from the constraints of 
            hierarchy and creative mediocrity, with fewer bottlenecks and higher output.

      #passion.step.principles{'data-x' => 5600, 'data-y' => 2000, 'data-z' => 300, 'data-rotate-x' => 0, 'data-rotate-y' => -30, 'data-rotate-z' => -20}
        %div
          %h2 Passion
          %p
            We love the work we do:
            We dream about it, talk to our families about it, and devote our minds to it.<br />
            We create beautiful things.