%html
  %head
    %script{:src => "http://code.jquery.com/jquery.min.js"}    
    -# This fork of impress.js allows loading to be deferred..
    %script{:src => "https://raw.github.com/zeke/impress.js/master/js/impress.js"}
    %script{:src => "app.js"}
    
    %link{:href => "style.css", :rel => "stylesheet", :type => "text/css"}
  %body

    #impress

      #wordnik.step{'data-scale' => 12, 'data-x' => -1000, 'data-y' => 0, 'data-z' => 0, 'data-rotate-x' => 0, 'data-rotate-y' => 0, 'data-rotate-z' => 0}
        %img{:src => "images/wordnik.png"}
        %div
          %h2 Wordnik.
          %p a manifesto
        
      #team.step{'data-scale' => 3, 'data-x' => 2000}
        %h1 1. Team
        
      #erin.step.team{'data-x' => 1000, 'data-y' => 500, 'data-z' => 100, 'data-rotate-x' => 0, 'data-rotate-y' => -40, 'data-rotate-z' => -10}
        %img{:src => "images/erin.jpg"}
        %div
          %h2 Erin McKean
          %p Business

      #kumanan.step.team{'data-x' => 1200, 'data-y' => 1000, 'data-z' => -300, 'data-rotate-x' => 0, 'data-rotate-y' => -110, 'data-rotate-z' => 20}
        %img{:src => "images/kumanan.jpg"}
        %div
          %h2 Kumanan Rajamanikkam 
          %p Backend
          
      #zeke.step.team{'data-x' => 1200, 'data-y' => 1800, 'data-z' => 300, 'data-rotate-x' => -30, 'data-rotate-y' => -80, 'data-rotate-z' => 0}
        %img{:src => "images/zeke.jpg"}
        %div
          %h2 Zeke Sikelianos
          %p Frontend
          
      #tools.step{'data-scale' => 3, 'data-x' => 3500}
        %h1 2. Tools

      #heroku.step.tools{'data-x' => 2900, 'data-y' => 500, 'data-z' => 400, 'data-rotate-x' => 0, 'data-rotate-y' => 40, 'data-rotate-z' => 0}
        %img{:src => "images/heroku.png"}
        %div
          %h2 Heroku
          %p Continuous Deployment in the Cloud

      #mongo.step.tools{'data-x' => 3000, 'data-y' => 800, 'data-z' => -400, 'data-rotate-x' => 0, 'data-rotate-y' => 50, 'data-rotate-z' => 0}
        %img{:src => "images/mongo.png"}
        %div
          %h2 MongoDB
          %p Big data with a Javascript Query Syntax

      #node.step.tools{'data-x' => 2600, 'data-y' => 1200, 'data-z' => 0, 'data-rotate-x' => 0, 'data-rotate-y' => -30, 'data-rotate-z' => 10}
        %img{:src => "images/chrome.jpg"}
        %div
          %h2 Node.js
          %p Shared client/server application logic

      #derby.step.tools{'data-x' => 3000, 'data-y' => 1600, 'data-z' => 400, 'data-rotate-x' => 0, 'data-rotate-y' => 0, 'data-rotate-z' => 0}
        %img{:src => "images/derby.jpg"}
        %div
          %h2 Derby.js
          %p Crawler-friendly server-side rendering
          
      #html5.step.tools{'data-x' => 3000, 'data-y' => 2000, 'data-z' => 0, 'data-rotate-x' => 0, 'data-rotate-y' => -60, 'data-rotate-z' => 0}
        %img{:src => "images/html5.png"}
        %div
          %h2 HTML 5
          %p Standard technologies

      #phonegap.step.tools{'data-x' => 3000, 'data-y' => 2500, 'data-z' => 300, 'data-rotate-x' => 0, 'data-rotate-y' => -40, 'data-rotate-z' => 10}
        %img{:src => "images/iphone.jpg"}
        %div
          %h2 Phonegap
          %p A thin iOS wrapper around HTML5/Javascript apps

      #github.step.tools{'data-x' => 3000, 'data-y' => 3000, 'data-z' => 0, 'data-rotate-x' => 0, 'data-rotate-y' => -80, 'data-rotate-z' => -10}
        %img{:src => "images/github.png"}
        %div
          %h2 Github
          %p Source Code, Documentation, and Project Management

      #profit.step{'data-scale' => 3, 'data-x' => 5000}
        %h1 3. Products

      #apis.step.profit{'data-x' => 4800, 'data-y' => 500, 'data-z' => 500, 'data-rotate-x' => 0, 'data-rotate-y' => 40, 'data-rotate-z' => 0}
        %img{:src => "images/apis.png"}
        %div
          %h2 Developer APIs
          %p Provide a clear pricing structure

      #apps.step.profit{'data-x' => 4200, 'data-y' => 1000, 'data-z' => -300, 'data-rotate-x' => 0, 'data-rotate-y' => 40, 'data-rotate-z' => 10}
        %img{:src => "images/apps.jpg"}
        %div
          %h2 Mobile Apps
          %p
            Some cost money.
            Others are free but give us valuable data about user consumption patterns.
            
      #sponsorship.step.profit{'data-x' => 4200, 'data-y' => 1500, 'data-z' => 0, 'data-rotate-x' => 30, 'data-rotate-y' => 0, 'data-rotate-z' => 0}
        %img{:src => "images/sponsorship.jpg"}
        %div
          %h2 Own-a-Word
          %p Ongoing highest-bidder auctioning for logophiliacs on wordnik.com

      #ads.step.profit{'data-x' => 4400, 'data-y' => 1800, 'data-z' => 400, 'data-rotate-x' => 0, 'data-rotate-y' => -10, 'data-rotate-z' => 0}
        %img{:src => "images/ads.jpg"}
        %div
          %h2 Ads
          %p Custom-designed ad packages on wordnik.com.


      #principles.step{'data-scale' => 3, 'data-x' => 6600}
        %h1 4. Principles

      #dependencies.step.principles{'data-x' => 6000, 'data-y' => 500, 'data-z' => 300, 'data-rotate-x' => 0, 'data-rotate-y' => 40, 'data-rotate-z' => 0}
        -# %img{:src => "images/oss.png"}
        %div
          %h2 Transparency
          %p
            Open source software promotes trust from users
            and crowdsources the development effort to a willing constituency.
          
      #community.step.principles{'data-x' => 6000, 'data-y' => 1000, 'data-z' => 0, 'data-rotate-x' => 0, 'data-rotate-y' => 130, 'data-rotate-z' => 10}
        -# %img{:src => "images/swagger.png"}
        %div
          %h2 Community
          %p
            Giving end-users more control encourages their level of participation.
            Continued development of Swagger and other open-source projects
            earns us respect in the developer community.

      #agility.step.principles{'data-x' => 6000, 'data-y' => 1500, 'data-z' => -300, 'data-rotate-x' => 20, 'data-rotate-y' => 50, 'data-rotate-z' => -10}
        %div
          %h2 Agility
          %p
            We are a small passionate team with all the necessary skills,
            free from the constraints of hierarchy, creative mediocrity, disorder, 
            and dependency.

      #passion.step.principles{'data-x' => 6000, 'data-y' => 2000, 'data-z' => 300, 'data-rotate-x' => 0, 'data-rotate-y' => -30, 'data-rotate-z' => -20}
        %div
          %h2 Passion
          %p
            We love the work we do.
            We dream about it, talk to our families about it, and devote our weekends to it.
